# DJANGO

SECRET_KEY=your_secret_key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost


# DJANGO DB

DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_HOST=db
DB_PORT=3306


# MYSQL

MYSQL_DATABASE=database_name
MYSQL_USER=database_user
MYSQL_PASSWORD=database_password
MYSQL_ROOT_PASSWORD=root_password