SECRET_KEY=coloca_tu_secret_key
DEBUG=True

DB_NAME=nombre_bd
DB_USER=usuario_bd
DB_PASSWORD=password_bd
DB_HOST=db
DB_PORT=3306

MYSQL_DATABASE=nombre_bd
MYSQL_USER=usuario_mysql
MYSQL_PASSWORD=password_mysql
MYSQL_ROOT_PASSWORD=root_password_mysql