{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link rel="stylesheet"
      href="{% static 'css/pedido.css' %}?{% now 'U' %}">

{% endblock %}
{% block content %}

<!-- HEADER -->
{% include "ventas/partials/pedido_header.html" %}

<!-- QUICK ACTIONS -->
{% include "ventas/partials/pedido_actions.html" %}

<!-- STATS -->
{% include "ventas/partials/pedido_stats.html" %}


<!-- ITEMS BASE -->
{% include "ventas/partials/items_base_table.html" %}

<!-- ANILLOS -->
{% include "ventas/partials/items_anillo_table.html" %}

<!-- PAGOS -->
{% include "ventas/partials/pagos_table.html" %}

<!-- EXTRAS -->
{% include "ventas/partials/items_extra_table.html" %}

<!-- OBSERVACIONES -->
{% include "ventas/partials/observaciones_list.html" %}

<!-- DESCUENTOS -->
{% include "ventas/partials/descuentos_table.html" %}


{% endblock %}