{% extends "base.html" %}

{% block content %}

{% if form.non_field_errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
</div>
{% endif %}

<div class="card card-custom p-4">

    <h4>Nuevo Grupo</h4>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label>Nombre</label>
            {{ form.nombre }}
            <div class="text-danger">
                {{ form.nombre.errors }}
            </div>
        </div>

        <div class="mb-3">
            <label>Fecha de fotografía</label>
            {{ form.fecha_fotografia }}
        </div>

        <div class="mb-3">
            <label>Hora de fotografía</label>
            {{ form.hora_fotografia }}
        </div>

        <div class="mb-3">
            <label>Lugar</label>
            {{ form.lugar_fotografia }}
        </div>

        <button class="btn btn-primary">Guardar</button>

        <a href="{% if object %}
            {% url 'escuela_detail' object.generacion.id object.escuela.id %}
         {% else %}
            {% url 'escuela_detail' view.kwargs.generacion_id view.kwargs.escuela_id %}
         {% endif %}" class="btn btn-secondary">
            Cancelar
        </a>
    </form>

</div>

{% endblock %}