{% extends "base.html" %}

{% block content %}

<div class="card card-custom p-4">

    <h4>
        {% if object %}
        Editar Alumno
        {% else %}
        Nuevo Alumno
        {% endif %}
    </h4>

    <form method="post">
        {% csrf_token %}

        <!-- 🔹 Nombre -->
        <div class="mb-3">
            <label>Nombre</label>
            {{ form.nombre }}
            <div class="text-danger">
                {{ form.nombre.errors }}
            </div>
        </div>

        <!-- 🔹 Teléfono -->
        <div class="mb-3">
            <label>Teléfono</label>
            {{ form.telefono }}
        </div>

        <!-- 🔹 Folio -->
        <div class="mb-3">
            <label>Folio de fotos</label>
            {{ form.folio_fotos }}
        </div>

        <button class="btn btn-primary">Guardar</button>

        <a href="{% if object %}
            {% url 'grupo_detail' object.grupo.id %}
         {% else %}
            {% url 'grupo_detail' view.kwargs.grupo_id %}
         {% endif %}" class="btn btn-secondary">
            Cancelar
        </a>

    </form>

</div>

{% endblock %}