{% extends "base.html" %}

{% block content %}

<div class="card card-custom p-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4>Generaciones</h4>

        <a href="{% url 'generacion_create' %}" class="btn btn-success">
            + Nueva Generación
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Año</th>
                <th>Numero de escuelas</th>
            </tr>
        </thead>
        <tbody>
            {% for g in generaciones %}
            <tr>
                <td>
                    <a href="{% url 'generacion_detail' g.id %}">
                        {{ g.anio }}
                    </a>
                </td>
                <td>{{ g.num_escuelas }} escuelas</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}